@font-face {
    font-family: lato-regular;
    src: url(../font/Lato-Regular.ttf);
}

@font-face {
    font-family: coolvetiva;
    src: url(../font/coolvetica\ rg.ttf);
}

@font-face {
    font-family: romana;
    src: url(../font/OPTIRomanaRoman-Normal.otf);
}